.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.remove__link {
  text-decoration: none;
  color: red;
  transform: rotate(45deg);
  border: 1px solid red;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .7;
  position: absolute;
  top: 8px;
  right: 8px;
}


.card__tags {
  position: absolute;
  bottom: 8px;
  left: 8px;

  span {
    font-size: .7rem;
    background-color: lightcoral;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: 400;
  }
}
